.venv
A Dataset for Voice-Based Human Identity Recognition
AutoData.zip

AudioData.zip
AudioData
UCI HAR Dataset
UCI HAR Dataset.zip
UCI HAR Dataset.names
HumanActivity.zip
__MACOSX
best_model.keras
raw.githubusercontent.com